*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

/* Charge les styles de base de Tailwind CSS, incluant le reset CSS et les styles par défaut */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Charge les composants prédéfinis de Tailwind, comme les boutons ou les formulaires */

.visible {
  visibility: visible;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.-left-\[300px\] {
  left: -300px;
}

.left-0 {
  left: 0px;
}

.-z-10 {
  z-index: -10;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.mb-\[15px\] {
  margin-bottom: 15px;
}

.mb-\[26px\] {
  margin-bottom: 26px;
}

.mb-\[42px\] {
  margin-bottom: 42px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-\[368px\] {
  height: 368px;
}

.h-full {
  height: 100%;
}

.min-h-\[288px\] {
  min-height: 288px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-\[1466px\] {
  max-width: 1466px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[814px\] {
  max-width: 814px;
}

.flex-1 {
  flex: 1 1 0%;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.self-end {
  align-self: flex-end;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border-2 {
  border-width: 2px;
}

.border-accent {
  --tw-border-opacity: 1;
  border-color: rgb(226 187 158 / var(--tw-border-opacity, 1));
}

.bg-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(238 234 230 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-services {
  background-image: url('./assets/img/services/bg.svg');
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-1 {
  padding: 0.25rem;
}

.p-8 {
  padding: 2rem;
}

.p-\[30px\] {
  padding: 30px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pr-4 {
  padding-right: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.font-primary {
  font-family: Poppins;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-normal {
  line-height: 1.5;
}

.tracking-\[2\.24px\] {
  letter-spacing: 2.24px;
}

.text-accent {
  --tw-text-opacity: 1;
  color: rgb(226 187 158 / var(--tw-text-opacity, 1));
}

.text-accent-tertiary {
  --tw-text-opacity: 1;
  color: rgb(245 195 158 / var(--tw-text-opacity, 1));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom2 {
  --tw-shadow: 0 0px 30px 0 rgba(8, 73, 81, 0.06);
  --tw-shadow-colored: 0 0px 30px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

/* Charge les utilitaires de Tailwind, comme les classes de marges, tailles, etc. */

/* Applique les styles généraux pour le corps du document */

body {
  font-family: Poppins;
  font-size: 17px;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
  /* font-primary : Définit la police principale utilisée sur l'ensemble du site */
  /* text-[17px] : Définit une taille de texte personnalisée de 17px */
  /* leading-8 : Applique un espacement vertical entre les lignes, utile pour la lisibilité */
  /* text-secondary : Utilise la couleur secondaire pour le texte, définie dans le thème Tailwind */
}

/* Styles pour tous les titres de H1 à H6 */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(36 42 43 / var(--tw-text-opacity, 1));
  /* leading-120 : Ajoute un interligne spécifique pour espacer les lignes des titres */
  /* text-primary : Définit la couleur principale pour les titres */
}

/* Styles spécifiques pour le titre de classe .h1 */

.h1 {
  font-size: 36px;
  font-weight: 600;
}

@media (min-width: 1280px) {
  .h1 {
    font-size: 64px;
  }
}

.h1 {
  /* text-[36px] : Taille de texte de 36px en mode par défaut */
  /* font-semibold : Utilise une police en gras moyen pour plus de contraste */
  /* xl:text-[64px] : Augmente la taille à 64px sur les écrans extra-larges */
}

/* Styles pour le titre de classe .h2 */

.h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.44px;
}

@media (min-width: 1280px) {
  .h2 {
    font-size: 44px;
  }
}

.h2 {
  /* text-[30px] : Taille de texte de 30px par défaut */
  /* font-semibold : Applique un gras moyen pour mettre en valeur le titre */
  /* capitalize : Transforme la première lettre de chaque mot en majuscule */
  /* tracking-[0.44px] : Ajuste l'espacement des lettres pour améliorer la lisibilité */
  /* xl:text-[44px] : Taille de texte de 44px sur les grands écrans */
}

/* Styles pour le titre de classe .h3 */

.h3 {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 1280px) {
  .h3 {
    font-size: 26px;
  }
}

.h3 {
  /* text-[20px] : Définit une taille de 20px par défaut */
  /* font-semibold : Gras moyen pour une visibilité accrue */
  /* xl:text-[26px] : Augmente la taille à 26px sur les grands écrans */
}

/* Styles pour le titre de classe .h4 */

.h4 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 1280px) {
  .h4 {
    font-size: 26px;
  }
}

.h4 {
  /* text-[20px] : Taille de texte de 20px par défaut */
  /* font-semibold : Applique un gras moyen */
  /* capitalize : Capitalise la première lettre de chaque mot */
  /* xl:text-[26px] : Taille agrandie à 26px pour les écrans larges */
}

/* Style général pour les boutons */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-transform: uppercase;
  /* flex : Utilise flexbox pour la structure du bouton */
  /* items-center : Centre le contenu verticalement */
  /* justify-center : Centre le contenu horizontalement */
  /* rounded-full : Bord arrondi pour un effet de bouton arrondi */
  /* uppercase : Transforme le texte en majuscules */
  /* tracking--[1.02px] : Réduit légèrement l'espacement des lettres */
}

/* Style pour les petits boutons (classe .btn-sm) */

.btn-sm {
  height: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  /* h-14 : Hauteur de 14 unités Tailwind (généralement 56px) */
  /* px-10 : Espacement horizontal de 10 unités (environ 40px) */
}

/* Style pour les grands boutons (classe .btn-lg) */

.btn-lg {
  height: 4rem;
  padding-left: 50px;
  padding-right: 50px;
  /* h-16 : Hauteur de 16 unités (généralement 64px) */
  /* px-[50px] : Padding horizontal personnalisé de 50px */
}

/* Style pour le bouton avec accent coloré (classe .btn-accent) */

.btn-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(226 187 158 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-accent:hover {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(226 187 158 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(226 187 158 / var(--tw-text-opacity, 1));
}

.btn-accent {
  /* bg-accent : Couleur d'arrière-plan principale du bouton */
  /* text-white : Texte en blanc pour un bon contraste */
  /* hover:bg-accent-secondary : Changement de couleur au survol pour accentuer l'interaction */
}

/* Style pour le bouton blanc (classe .btn-white) */

.btn-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.btn-white:hover {
  background-color: rgb(255 255 255 / 0.9);
}

.btn-white {
  /* bg-white : Arrière-plan blanc */
  /* text-secondary : Texte de couleur secondaire */
  /* hover:bg-white/90 : Légère transparence au survol */
}

/* Style pour le bouton avec bordure (classe .btn-outline) */

.btn-outline {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(226 187 158 / var(--tw-border-opacity, 1));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.btn-outline:hover {
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgb(226 187 158 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.btn-outline {
  /* border-2 : Bordure de 2px d'épaisseur */
  /* border-accent : Bordure de couleur accentuée */
  /* bg-transparent : Arrière-plan transparent par défaut */
  /* text-secondary : Texte de couleur secondaire */
  /* hover:border-transparent : La bordure devient transparente au survol */
  /* hover:bg-accent : Arrière-plan change pour la couleur accentuée au survol */
  /* hover:text-white : Le texte devient blanc au survol */
}

/* Styles partagés pour les champs de saisie (input) et les menus déroulants (select) */

.input,
.select {
  height: 66px;
  width: 100%;
  border-radius: 10px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(219 223 223 / var(--tw-border-opacity, 1));
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input::-moz-placeholder, .select::-moz-placeholder {
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.input::placeholder,
.select::placeholder {
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}

.input,
.select {
  /* h-[66px] : Hauteur de 66px */
  /* w-full : Largeur de 100%, pour s'adapter au conteneur parent */
  /* rounded-[10px] : Coins arrondis de 10px */
  /* border : Ajoute une bordure */
  /* border-[#dbdfdf] : Bordure d'une couleur gris clair personnalisée */
  /* font-light : Police légère pour un style épuré */
  /* text-secondary : Texte de couleur secondaire */
  /* outline-none : Supprime le contour par défaut */
  /* placeholder:font-light : Texte de l'espace réservé en police légère */
  /* placeholder:text-secondary : Couleur secondaire pour le texte de l'espace réservé */
}

/* Ajuste le padding horizontal pour les champs de saisie (input) */

.input {
  padding-left: 1rem;
  padding-right: 1rem;
  /* px-4 : Padding horizontal de 4 unités (généralement 16px) */
}

/* Style général pour les sections du site (classe .section) */

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 1280px) {
  .section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.section {
  /* py-12 : Padding vertical de 12 unités (environ 48px) */
  /* xl:py-[150px] : Padding vertical plus grand (150px) pour les écrans extra-larges */
}

/* Style pour les puces de pagination des carrousels Swiper */

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet {
  --tw-bg-opacity: 1;
  background-color: rgb(226 187 158 / var(--tw-bg-opacity, 1));
  /* bg-accent : Couleur de fond accentuée pour les puces de pagination */
}

/* Styles pour les éléments de la FAQ (classe .faq__item) lorsqu'il est ouvert */

.faq__item.open .faq__answer {
  height: 100%;
  /* h-full : Hauteur maximale pour afficher complètement la réponse de la FAQ */
}

/* Style de superposition pour les éléments de design (classe .design-overlay) */

.design-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  /* position: absolute : Positionne la superposition de manière absolue */
  /* inset: 0 : Étend la superposition sur tout le conteneur parent */
  /* z-index: 1 : Place la superposition au-dessus du contenu de base */
}

.design-overlay:hover {
  opacity: 0.2;
  /* opacity: 0.2 : Réduit l'opacité au survol pour créer un effet visuel */
}

.hover\:border-accent:hover {
  --tw-border-opacity: 1;
  border-color: rgb(226 187 158 / var(--tw-border-opacity, 1));
}

.hover\:bg-accent:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(226 187 158 / var(--tw-bg-opacity, 1));
}

.hover\:text-accent:hover {
  --tw-text-opacity: 1;
  color: rgb(226 187 158 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .md\:max-w-xl {
    max-width: 36rem;
  }
}

@media (min-width: 1024px) {
  .lg\:relative {
    position: relative;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-normal {
    justify-content: normal;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:gap-y-0 {
    row-gap: 0px;
  }

  .lg\:px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1280px) {
  .xl\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .xl\:-mt-\[144px\] {
    margin-top: -144px;
  }

  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .xl\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:w-\[48\%\] {
    width: 48%;
  }

  .xl\:max-w-none {
    max-width: none;
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:border-r {
    border-right-width: 1px;
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:pb-0 {
    padding-bottom: 0px;
  }

  .xl\:pt-12 {
    padding-top: 3rem;
  }

  .xl\:pt-\[70px\] {
    padding-top: 70px;
  }

  .xl\:text-left {
    text-align: left;
  }

  .xl\:text-\[64px\] {
    font-size: 64px;
  }
}
